{% extends "index.html" %}

{% block content %}

<style>
    .flex-container {
        display: flex;
        background-color: #f1f1f1;
        height: 100%;
        padding: 10px;
        gap: 10px;
        background-size: cover;
    }

    @media (max-width: 800px) {
        .flex-container {
            flex-direction: column;
        }

        #pauseButton {
            background-size: 10vw;
        }
    }

    .box1 {
        flex: 3;
        color: black;
        font-size: 30vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        transition: background-color 0.5s ease;
    }

    .stack-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-basis: 200px
    }

        .stack-container > div {
            flex: 1;
            color: black;
            font-size: 15vw;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border-radius: 5px;
            transition: background-color 0.5s ease;
        }

    #pauseButton {
        cursor: pointer;
        padding: 10px;
        background-color: limegreen;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        background-image: url('static/Media/pause.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50% 50%;
        min-height: 20vh;
    }
</style>

<script>

    let chords = {
        rest: [null, '#dbdbdb'],
        E7: ['E7', '#00ddfa'],
        D: ['D', '#00fa79'],
        A7: ['A7', '#Ee94f9 '],
        E: ['E', '#A8caff '],
        A: ['A', '#ffffff'],
        B: ['B', '#C5f986 '],
        c3: ['3', '#f9aaaa'],
        c2: ['2', '#f9aaaa'],
        c1: ['1', '#f9aaaa']
    };

    let isPaused = false;
    let resumeResolve = null;
    let resumePromise = null;
    let prevChord = null;
    let beat = (60 / 127);

    function togglePause() {
        isPaused = !isPaused;
        const button = document.getElementById("pauseButton");

        if (isPaused) {
            button.style.backgroundImage = "url('static/Media/play-button.png')";
            button.style.backgroundColor = "Red";
            resumePromise = new Promise((resolve) => {
                resumeResolve = resolve;
            });
        } else {
            button.style.backgroundImage = "url('static/Media/pause.png')";
            button.style.backgroundColor = "limegreen";

            if (resumeResolve) {
                resumeResolve();
                resumeResolve = null;
                resumePromise = null;
            }
        }
    }

    async function pauseExecution() {
        if (isPaused) {
            await resumePromise;
        }
    }

    let numbers = [[chords.c3, 2], [chords.c2, 2], [chords.c1, 2]]
    let i = 0
    async function countdown(){
        //let countdown = [[chords.c3, 2], [chords.c2, 2], [chords.c1, 2]]
        /*for (let i = 0; i < countdown; i++) {
            changeChord(countdown[i]);

        }*/
       if(i < 3){
            changeChord(numbers[i][0]);
            i++;
            setTimeout(countdown, (numbers[i-1][1])*beat*1000);
       }
       else{
            prevChord = null;
            the_day();
       }
       
        
    }

    async function playSequence(sequence, index = 0, nextFunction) {

        if (index < sequence.length) {

            await pauseExecution();

            if (prevChord != null) {
                changeChord(prevChord);
            }

            changePreview(sequence[index][0]);

            // Calculate the duration of the current chord
            const chordDuration = beat * 1000 * sequence[index][1];

            // Wait for the chord duration
            await new Promise((resolve) => setTimeout(resolve, chordDuration));

            // Recursively call playSequence for the next chord
            await playSequence(sequence, index + 1, nextFunction);
        }

        if (index >= sequence.length && nextFunction) {
            nextFunction();
        }
    }

    let keyPressed = false;

    document.addEventListener("keydown", function (event) {
        if (event.code === "Space" && !keyPressed) {
            event.preventDefault(); // Prevent scrolling if spacebar
            togglePause(); // Pauses song
            keyPressed = true;
        }
    });

    //Prevents the pause function from being called until space bar is hit again
    document.addEventListener("keyup", function (event) {
        keyPressed = false;
    });

    function the_day() {
        let chorus = [[chords.D, 8], [chords.A, 8], [chords.D, 8], [chords.A, 8]]
        let verse = [[chords.D, 4], [chords.A, 4], [chords.D, 4], [chords.A, 4], [chords.D, 4], [chords.A, 4], [chords.B, 4], [chords.E7, 4]]
        let intro = [[rest, 0], [chords.A, 5], [chords.E7, 3]]
        let instrumental = [[chords.A, 9], [chords.A7, 7], [chords.D, 8], [chords.A, 8], [chords.E, 4], [chords.D, 4], [chords.A, 5], [chords.E7, 3]]
        let outro = [[chords.D, 8], [chords.A, 8], [chords.D, 8], [chords.A, 8], [chords.D, 8], [chords.A, 8], [chords.D, 8], [chords.A, 11], [chords.rest, 0], [chords.rest, 0]]

        function start() {
            playSequence(intro, 0, playChorus);
        }

        function startIntro() {
            playSequence(intro, 0, playChorus);
        }

        function playChorus(index) {
            playSequence(chorus, 0, playVerse);
        }

        function playVerse(index) {
            playSequence(verse, 0, playChorus2);
        }

        function playChorus2(index) {
            playSequence(chorus, 0, playInstrumental);
        }

        function playInstrumental(index) {
            playSequence(instrumental, 0, playChorus3);
        }

        function playChorus3(index) {
            playSequence(chorus, 0, playVerse2);
        }

        function playVerse2(index) {
            playSequence(verse, 0, playOutro);
        }

        function playOutro() {
            playSequence(outro, 0, null);
        }

        start();
    }


    function changeChord(image) {
        const picture = document.querySelector('.box1'); //makes a variable of all '.box1' objects that allows us to change its style
        picture.textContent = image[0]; //Changes text
        picture.style.backgroundColor = image[1]; //changes background colour
    }

    function changePreview(image) {
        const picture = document.getElementById("preview");
        picture.textContent = image[0];
        picture.style.backgroundColor = image[1];
        prevChord = image;
    }

    window.onload = countdown;

</script>

<div class="flex-container">
    <div class="box1"></div>
    <div class="stack-container">
        <div id="pauseButton" onclick="togglePause()"></div>
        <div id="preview"></div>
    </div>
</div>

{% endblock %}
